.card__container {
  padding: 1rem 1rem;
}

.card__align-left {
    float: left;
    text-align:left;
    width: 25%;
}

.card__align-center {
    float: left;
    text-align:left;
    width: 50%;
}

.card__align-right {
    float: left;
    text-align:right;
    width: 20% !important;
}

.card__glass-background {
  height: 317px;
  width: 352px;
  margin: 22px;
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__content-background_gradient {
  width: 100%;
  height: 100%;
}

.card__title_list {
  display: -webkit-box;
  overflow: hidden;
  max-height: 10.5rem;
  margin: 1rem 0;
  -webkit-box-orient: vertical;
  font-size: 2.25rem;
  font-weight: 300;
  -webkit-line-clamp: 6;
  text-overflow: ellipsis;
}

.card__title {
  display: -webkit-box;
  overflow: hidden;
  max-height: 10.5rem;
  -webkit-box-orient: vertical;
  font-size: 2rem;
  font-weight: 300;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  color: #fff;
  margin-left: 8px;
}

.card__description {
  display: -webkit-box;
  overflow: hidden;
  max-height: 10.5rem;
  margin: 0.5rem 0;
  -webkit-box-orient: vertical;
  font-size: 1rem;
  font-weight: 300;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  color: #fff;
  margin-top: -20px;
  margin-left: 35px;
}

.card__porcent {
    height: 100%;
    opacity: 0.5;
}

.card__winner {
    background-color: var(--color-positive-opacity);
    text-align: left;
}

.card__loser {
    background-color: var(--color-negative-opacity);
    text-align: right;
}

.card__results-statics {
    color: var(--color-white);
    font-size: 20px;
    height: 40px;
}

.card__results-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card__results-resume {
  display: contents;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card__last-update {
  color: var(--color-white);
  font-size: 14px;
  padding: 0 20px;
  text-align: end;
  line-height: 0.5em;
  text-transform: capitalize !important;
}

.card__scroll-auto {
  flex-wrap: initial;
  overflow: auto;
}

.card__icon-bar {
  min-width: 90px;
}

.card__content {
  position: absolute;
  bottom: 0;
}

@media all and (min-width: 768px) {
  .card__glass-background {
    width: auto;
    height: 185px;
    background-size: 300px;
  }

  .card__results-resume {
    position: relative;
  }

  .card__scroll-auto {
    flex-wrap: wrap;
  }

  .card__title {
    -webkit-line-clamp: 1;
    margin-left: 0;
  }

  .card__description {
    margin-left: 0;
  }
}

@media all and (min-width: 1100px) {
  .card__glass-background {
    width: auto;
    height: 170px;
    background-size: 300px;
  }

  .card__glass-background-grid {
    height: 317px;
    width: 352px;
    margin: 22px;
  }

  .card__results-statics {
    height: 52px;
    font-size: 30px;
  }

  .card__results-statics-grid {
    height: 35px !important;
    font-size: 14px !important;
  }

  .card__results-resume {
    position: relative;
  }

  .card__scroll-auto {
    flex-wrap: wrap;
    overflow: hidden;
  }

  .card__title {
    margin-left: 0;
  }

  .card__description {
    margin-left: 0;
  }
}