label.wrap {
    width:200px;
    overflow: hidden; 
    height: 50px;    
    position: relative;
    display: block;
    border:2px solid #000;
}

select.dropdown{       
    height: 50px;
    padding: 10px;
    border: 0;
    font-size: 15px;       
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
label.wrap:after {
    content:"\f0dd";
    font-family: FontAwesome;
    color: #000;
    position: absolute; 
    right: 10px; 
    top: 15px;
    z-index: 1;
    width: 10%;
    height: 100%;  
    pointer-events: none;    
}